body {
    font-family: Arial, sans-serif;
    background-color: #B072BA;
    display: flex;
    justify-content: top;
    align-items: top;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color:#E17171;
    color:#71E1D4
}

label {
    display: block;
    margin: 10px 0 5px;
    color:#76B26F
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}
button1{
  background-color:#0056B3;
  color:#00B381;
  text-align: center;
}